<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710423933985-rqg7nglv6bt4kukhel4ep24bn90grn7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710423933985-rqg7nglv6bt4kukhel4ep24bn90grn7f</string>
	<key>API_KEY</key>
	<string>AIzaSyBcDvkYIIKdYu_e1MNGOP9eRyPNj-6pf4I</string>
	<key>GCM_SENDER_ID</key>
	<string>710423933985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.americanwhitewater.aw</string>
	<key>PROJECT_ID</key>
	<string>american-whitewater-1234</string>
	<key>STORAGE_BUCKET</key>
	<string>american-whitewater-1234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:710423933985:ios:7991fc6c584eb7e38a9f60</string>
	<key>DATABASE_URL</key>
	<string>https://american-whitewater-1234.firebaseio.com</string>
</dict>
</plist>
